<table>
  <tbody>
    <tr>
      <th>after save custom field</th>
      <td>
        <input type="text" id="settings_after_save_custom_field"
               value="<%= settings['after_save_custom_field'] %>"
               name="settings[after_save_custom_field]">
      </td>
    </tr>
  </tbody>
</table>
